#listOptions {
  margin-right: 8px;
}

#todo-items .item-input-control {
  border: 0;
  box-shadow: none;
  background-color: transparent;
}

#todo-items .done-todo {
  text-decoration: line-through;
}

#todo-items .todo-item-title {
  padding-top: 8px;
}

#todo-items .list-group-item {
  padding-top: 8px;
  padding-bottom: 8px;
}

#todo-items .list-group-item .btn-xs {
  padding: 0;
}

#todo-items .todo-item-checkbox {
  padding-top: 8px;
}

#todo-items .todo-item-commands {
  padding-top: 4px;
}

.modal-footer {
  display: block;
}
.color-circles-container {
  display: flex;
  text-align: center;
}
.color-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #000;
  display: inline-block;
}

.lightblue {
    background-color: lightblue;
}
.lightgreen {
  background-color: lightgreen;
}
.white {
  background-color: white;
}
.lightcoral {
  background-color: lightcoral;
}
.lightpink {
  background-color: lightpink;
}
.selected {
  border: 2px solid lightblue; /* Modify the border thickness as needed */
  outline: 2px solid lightblue; /* Modify the outline thickness as needed */
  /* Add any other styles for the selected state */
}
